// Variables
$list-padding: 15px;
$row-width: 60%;

// Sass mixins
@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

body {
  height: 100%;
  width: 100%;
  margin: 0;

  background-color: rgba(222, 216, 201, 1);
  font-family: "Lucida Console", Monaco, monospace;
}

.row {
  width: $row-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;

  h1 {
    padding: 40px;
  }

  .column {
    padding: $list-padding;
    flex-grow: 1;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out ;
    -ms-transition: 0.1s ease-out ;
    -o-transition: 0.1s ease-out ;
    transition: 0.1s ease-out ;

    span:after {
      content: attr(data-menu-type) "/";
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      visibility: hidden;
      opacity: 0;
      padding-left: 0;
      width: $row-width;
      -webkit-transition: 0.1s ease-out;
      -moz-transition: 0.1s ease-out ;
      -ms-transition: 0.1s ease-out ;
      -o-transition: 0.1s ease-out ;
      transition: 0.1s ease-out ;

      &.sub{
        position: absolute;
        left: 20%;
        margin: $list-padding 0 0;

        background-color: rgba(172, 157, 119, 1);
      }

      a {
        min-width: 25%;
        list-style-type: none;
        padding: $list-padding 0;
        text-align: center;
        text-decoration: none;
        color: #000;
        -webkit-transition: 0.1s ease-out;
        -moz-transition: 0.1s ease-out ;
        -ms-transition: 0.1s ease-out ;
        -o-transition: 0.1s ease-out ;
        transition: 0.1s ease-out ;
      }
    }

    &:hover {
      background-color: rgba(172, 157, 119, 1) !important;

      ul {
        opacity: 1;
        visibility: visible;

        a:hover {
          background-color: white;
        }
      }
    }
  }
}
